body {
  background: linear-gradient(to top, #ffff66 3%, #ff0066 96%);
  font-size: 200%; 
  font-family: courier;    
  padding: 90px;    
}

.title {
    background-color: #EE82EE ;    
    opacity: .9 ; 
    border-bottom: solid; 
    border-bottom-color: DodgerBlue ;
}

p {     
  background-color: #EE82EE ; 
  opacity: .9 ;   
}

.topnav {
    background-color: #333;
    opacity: .8 ; 
    overflow: hidden;
}
   
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
